::deep .table > tbody > tr:hover:not(.selected-row):not(.empty-message):not(.expand-row) > * {
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.075) !important;
    color: black !important;
}

::deep .table > tbody > tr.selected-row > * {
    background-color: var(--bs-primary) !important;
    color: white !important;
    border-top: 1px solid var(--bs-primary-border-subtle) !important;
    border-bottom: 1px solid var(--bs-primary-border-subtle) !important;
}

::deep .table > tbody > tr.selected-row:hover > * {
    background-color: var(--bs-primary) !important;
    color: white !important;
    border-top: 1px solid var(--bs-primary-border-subtle) !important;
    border-bottom: 1px solid var(--bs-primary-border-subtle) !important;
}
