@namespace SibCCSPETest.Shared.Components
@typeparam TItem

@if (PropertyValue is not null)
{
    <td scope="col" title="@PropertyValue">
        @PropertyValue
    </td>
}
else
{
    <td>
        @ChildContent
    </td>
}
