@page "/admin/specialization"
@layout AdminLayout
@rendermode InteractiveServer

<NexusTableGrid @ref="NexusTable" TItem="Specialization" Data="specializations" SelectionMode="SelectMode"
                EditMode="EditMode">
    <ToolTemplate>
        <div class="mb-1">
            <NexusGroupButton>
                <NexusButton Title="Добавить" OnClick="InserRow" CssClass="btn-primary" IconClass="bi bi-plus-lg" Disable="IsCrud" />
                <NexusButton Title="Изменить" OnClick="EditRow" CssClass="btn-warning" IconClass="bi bi-pencil-fill" Disable="IsCrud" />
                <NexusButton Title="Удалить" OnClick="Delete" CssClass="btn-danger" IconClass="bi bi-trash3-fill" Disable="IsCrud" />
            </NexusGroupButton>
            <NexusGroupButton>
                <NexusButton Title="Сохранить" OnClick="Save" CssClass="btn-success" IconClass="bi bi-floppy-fill" Disable="IsSaveCancel" />
                <NexusButton Title="Отменить" OnClick="Cancel" CssClass="btn-danger" IconClass="bi bi-x-lg" Disable="IsSaveCancel" />
            </NexusGroupButton>
        </div>
    </ToolTemplate>
    <Columns>
        <NexusTableGridColumn Title="Id" Property="Id" />
        <NexusTableGridColumn Title="Название" Property="Title" />
    </Columns>
    <EditColumns>
        <NexusTableGridColumn Title="Id" Property="Id" />
        <NexusTableGridColumn Title="Название">
            <input class="border border-black" type="text" @bind="context.Title" />
        </NexusTableGridColumn>
    </EditColumns>
</NexusTableGrid>