.nexus-notification-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

.position-topleft,
.position-topright,
.position-topcenter {
    top: 0;
}

.position-bottomleft,
.position-bottomright,
.position-bottomcenter {
    bottom: 0;
}

.nexus-notification {
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s;
    margin-bottom: 1rem;
    padding: 1rem 1.25rem;
    color: black;
    width: 100vw;
}

.nexus-notification-info {
    background-color: var(--bs-info);
}

.nexus-notification-success {
    background-color: var(--bs-success);
}

.nexus-notification-warning {
    background-color: var(--bs-warning);
}

.nexus-notification-error {
    background-color: var(--bs-danger);
}

.nexus-notification-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 0;
    font-size: 2.5rem;
}

.nexus-notification-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .nexus-notification-body .nexus-notification-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

        .nexus-notification-body .nexus-notification-header h5 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 0;
            line-height: 32px;
        }

        .nexus-notification-body .nexus-notification-header .nexus-notification-close {
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
            color: inherit;
            font-size: 1.25rem;
        }

    .nexus-notification-body p {
        margin-bottom: 0;
        font-size: 1rem;
    }

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 576px) {

    .position-topleft {
        top: 2rem;
        left: 2rem;
    }

    .position-topright {
        top: 2rem;
        right: 2rem;
    }

    .position-topcenter {
        top: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .position-bottomleft {
        bottom: 2rem;
        left: 2rem;
    }

    .position-bottomright {
        bottom: 2rem;
        right: 2rem;
    }

    .position-bottomcenter {
        bottom: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .nexus-notification {
        width: 30rem;
        border-radius: .25rem;
    }
}
